In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Volumes/Samsung_T5/Documents/Uni/text_mining/comment_selection/comment_dataset/final_aggegration.csv')

In [4]:
df.describe()

          author_id  comment_count  total_seen_comments
count  6.549450e+05  654945.000000        654945.000000
mean   4.680550e+05      42.151881          2126.405961
std    3.269996e+05     122.262766          6249.186011
min    2.000000e+00       2.000000             1.000000
25%    1.904920e+05       3.000000           101.000000
50%    4.072590e+05       6.000000           330.000000
75%    7.032350e+05      20.000000          1109.000000
max    1.247646e+06    1300.000000        147637.000000

In [5]:
df[df['author_id'] == 3008349]

Empty DataFrame
Columns: [author_id, comment_count, total_seen_comments]
Index: []

In [16]:
df2 = pd.read_csv('/Volumes/Samsung_T5/Documents/Uni/text_mining/comment_selection/comment_dataset/user_selection.csv')

In [20]:
df2[['comment_count', 'total_seen_comments']].sum()

comment_count           517472
total_seen_comments    6849145
dtype: int64