In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('/Volumes/Samsung_T5/Documents/Uni/text_mining/comment_selection/selected_sorted_comments-standardized.csv', 
                 usecols=['author_id', 'comment_id', 'article_id', 'timestamp'])

In [5]:
df

         article_id  author_id  comment_id             timestamp
0                 1         40    14584067  2012-02-10T03:30:05Z
1                 1         44    14583680  2012-02-10T01:33:59Z
2                 3        112    14566341  2012-02-09T08:40:26Z
3                 3        113    14566336  2012-02-09T08:40:12Z
4                 3         81    14568085  2012-02-09T10:27:50Z
5                 4        126    14570610  2012-02-09T12:17:12Z
6                 5        142    14579297  2012-02-09T19:27:23Z
7                 5        144    14573900  2012-02-09T14:23:45Z
8                 5        144    14537988  2012-02-07T14:51:17Z
9                 5        152    14538170  2012-02-07T14:59:23Z
10                5        152    14535589  2012-02-07T13:09:36Z
11                5        158    14536635  2012-02-07T13:51:56Z
12                6        177    14544608  2012-02-07T22:05:54Z
13                6        177    14535676  2012-02-07T13:13:43Z
14                6        177    14527343  2012-02-06T22:57:42Z
15                6        179    14537704  2012-02-07T14:38:37Z
16                6        179    14537627  2012-02-07T14:35:13Z
17                6        179    14530279  2012-02-07T08:33:47Z
18                6        179    14522622  2012-02-06T17:40:40Z
19                6        181    14537053  2012-02-07T14:10:34Z
20                6        186    14532937  2012-02-07T11:12:40Z
21                6        188    14531846  2012-02-07T10:19:14Z
22                6        195    14527606  2012-02-06T23:16:40Z
23                6        213    14521770  2012-02-06T16:52:54Z
24                6        214    14521396  2012-02-06T16:36:17Z
25                6        215    14520075  2012-02-06T15:36:01Z
26                7        152    14499639  2012-02-05T10:09:11Z
27                7        152    14499599  2012-02-05T10:05:46Z
28                7        152    14499381  2012-02-05T09:47:20Z
29                7        152    14499185  2012-02-05T09:28:17Z
...             ...        ...         ...                   ...
4883588      626395     144689       27263  2006-04-22T19:14:09Z
4883589      626395     144689       21145  2006-04-20T15:15:07Z
4883590      626395     300117       20625  2006-04-20T13:32:54Z
4883591      626395     351885       22508  2006-04-20T22:22:33Z
4883592      626396     199979       16847  2006-04-19T11:28:17Z
4883593      626396     199979       16441  2006-04-19T09:19:36Z
4883594      626396     199979       14877  2006-04-18T15:39:03Z
4883595      626396     199979       14868  2006-04-18T15:37:28Z
4883596      626396     199979       14351  2006-04-18T12:35:38Z
4883597      626396     300117       12208  2006-04-16T11:29:41Z
4883598      626396     300117       10840  2006-04-14T21:55:48Z
4883599      626396     303585       10605  2006-04-14T19:49:17Z
4883600      626396     351885       22078  2006-04-20T19:10:48Z
4883601      626396     351885       18710  2006-04-19T20:06:17Z
4883602      626396     351885       11735  2006-04-15T17:54:54Z
4883603      626396     611600       16299  2006-04-19T05:57:06Z
4883604      626396     611600       16296  2006-04-19T05:48:46Z
4883605      626396     611600       15551  2006-04-18T18:25:41Z
4883606      626396     611600       15539  2006-04-18T18:17:53Z
4883607      626396     611600       14673  2006-04-18T14:37:12Z
4883608      626396     611600       14658  2006-04-18T14:34:42Z
4883609      626396     611600       14255  2006-04-18T11:58:59Z
4883610      626396     611600       13867  2006-04-18T05:26:55Z
4883611      626396      86337       12055  2006-04-16T02:16:45Z
4883612      626396      86824       16380  2006-04-19T08:45:27Z
4883613      626396      86824       15753  2006-04-18T21:23:33Z
4883614      626396      86824       14467  2006-04-18T13:22:10Z
4883615      626396      92422       12694  2006-04-16T23:16:20Z
4883616      626396      92422       12136  2006-04-16T09:35:10Z
4883617      626396      92422       10727  2006-04-14T20:50:48Z

[4883618 rows x 4 columns]

In [19]:
aggregations = df.groupby('article_id').agg({
    'comment_id': 'count',
    'timestamp': ['min', 'max'],
    'author_id': pd.Series.nunique
})

In [20]:
aggregations.columns

MultiIndex(levels=[['comment_id', 'timestamp', 'author_id'], ['count', 'max', 'min', 'nunique']],
           labels=[[0, 1, 1, 2], [0, 2, 1, 3]])

In [21]:
aggregations.to_csv('')

           comment_id             timestamp                       author_id
                count                   min                   max   nunique
article_id
1                   2  2012-02-10T01:33:59Z  2012-02-10T03:30:05Z         2
3                   3  2012-02-09T08:40:12Z  2012-02-09T10:27:50Z         3
4                   1  2012-02-09T12:17:12Z  2012-02-09T12:17:12Z         1
5                   6  2012-02-07T13:09:36Z  2012-02-09T19:27:23Z         4
6                  14  2012-02-06T15:36:01Z  2012-02-07T22:05:54Z         9
7                  11  2012-02-04T08:36:32Z  2012-02-05T10:55:54Z         7
8                   3  2012-02-04T07:08:53Z  2012-02-05T00:32:29Z         3
9                  12  2012-02-03T11:36:15Z  2012-02-05T01:10:30Z        11
10                 13  2012-02-02T13:44:20Z  2012-02-04T11:51:20Z         6
11                  5  2012-02-01T16:52:00Z  2012-02-02T19:27:52Z         3
12                  5  2012-02-01T10:21:17Z  2012-02-01T23:33:23Z         4
13                 13  2012-01-31T08:17:28Z  2012-01-31T23:28:03Z        10
14                  1  2012-01-30T13:20:54Z  2012-01-30T13:20:54Z         1
15                 12  2012-01-29T10:26:53Z  2012-01-30T01:21:37Z        12
16                  5  2012-01-28T10:24:55Z  2012-01-30T11:49:28Z         5
17                  2  2012-01-28T16:38:57Z  2012-01-28T18:24:12Z         2
18                 13  2012-01-27T10:11:17Z  2012-01-28T23:23:41Z        13
19                 39  2012-01-26T11:40:08Z  2012-01-27T14:06:01Z         8
20                  2  2012-01-26T16:02:35Z  2012-01-26T23:47:25Z         2
21                  3  2012-01-24T23:13:59Z  2012-01-25T14:12:21Z         3
22                 10  2012-01-23T21:34:43Z  2012-01-26T08:42:54Z         7
23                  6  2012-01-23T18:21:16Z  2012-01-24T23:04:59Z         6
24                  2  2012-01-22T23:55:55Z  2012-01-23T17:35:52Z         2
25                  1  2012-01-22T10:51:54Z  2012-01-22T10:51:54Z         1
26                  4  2012-01-21T16:01:19Z  2012-01-22T16:22:44Z         1
27                  1  2012-01-21T14:40:59Z  2012-01-21T14:40:59Z         1
29                  3  2012-01-19T22:17:14Z  2012-01-20T01:20:07Z         3
30                 14  2012-01-19T12:03:58Z  2012-01-20T12:49:05Z        11
31                105  2012-01-18T16:29:04Z  2012-01-21T15:24:21Z        17
32                 10  2012-01-18T12:49:36Z  2012-01-20T13:08:27Z         6
...               ...                   ...                   ...       ...
626358              3  2007-06-12T10:25:18Z  2007-06-12T15:48:48Z         3
626360              1  2007-05-24T09:43:48Z  2007-05-24T09:43:48Z         1
626361              1  2007-05-09T21:35:14Z  2007-05-09T21:35:14Z         1
626362              3  2007-05-03T15:35:33Z  2007-05-04T21:38:55Z         3
626365              1  2007-04-16T20:13:51Z  2007-04-16T20:13:51Z         1
626366              1  2007-04-12T17:07:04Z  2007-04-12T17:07:04Z         1
626367              1  2007-03-29T17:53:23Z  2007-03-29T17:53:23Z         1
626368              1  2007-03-29T14:36:05Z  2007-03-29T14:36:05Z         1
626369              6  2007-03-23T18:24:51Z  2007-03-25T13:03:29Z         6
626370             10  2007-03-15T16:10:52Z  2007-03-16T09:04:03Z         9
626372              1  2007-02-04T01:11:04Z  2007-02-04T01:11:04Z         1
626374              5  2006-12-20T18:37:22Z  2006-12-23T02:59:50Z         4
626375              1  2006-12-12T20:29:16Z  2006-12-12T20:29:16Z         1
626377              1  2006-11-06T10:05:44Z  2006-11-06T10:05:44Z         1
626378              1  2006-10-31T12:04:51Z  2006-10-31T12:04:51Z         1
626379              2  2006-10-04T20:53:19Z  2006-10-04T20:54:46Z         1
626380              3  2006-09-20T09:20:39Z  2006-09-22T01:15:17Z         2
626382              1  2006-08-21T14:26:00Z  2006-08-21T14:26:00Z         1
626384              1  2006-08-08T19:33:36Z  2006-08-08T19:33:36Z         1
626385              7  2006-08-01T22:28:05Z  2006-08-03T06:42:20Z         3
626386              1  2006-07-01T02:31:59Z  2006-07-01T02:31:59Z         1
626387              1  2006-06-27T20:02:57Z  2006-06-27T20:02:57Z         1
626388              3  2006-06-20T16:38:04Z  2006-06-20T16:42:13Z         1
626389              2  2006-06-20T11:22:01Z  2006-06-21T12:48:12Z         1
626390             11  2006-06-06T11:15:32Z  2006-06-07T23:34:41Z         3
626391              5  2006-05-26T17:18:12Z  2006-05-29T20:12:21Z         4
626393              3  2006-05-15T19:11:36Z  2006-05-15T21:59:33Z         2
626394              5  2006-05-09T12:55:53Z  2006-05-10T14:05:09Z         4
626395              4  2006-04-20T13:32:54Z  2006-04-22T19:14:09Z         3
626396             26  2006-04-14T19:49:17Z  2006-04-20T19:10:48Z         8

[484003 rows x 4 columns]