In [1]:
import pandas as pd

In [2]:
df =pd.read_csv('/Volumes/Samsung_T5/Documents/Uni/text_mining/data/histograms_all_data.csv')
df = df.fillna(0)
df = df.set_index('author_id')
df['total_comments'] = df.sum(axis=1)
df = df[['total_comments']]

In [3]:
df.describe()

       total_comments
count    1.213555e+06
mean     5.067078e+01
std      4.005108e+02
min      1.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      8.000000e+00
max      6.403100e+04

In [4]:
top_quantil = df[df['total_comments'] >= 8]
top_quantil.describe()

       total_comments
count   304527.000000
mean       195.886371
std        781.715920
min          8.000000
25%         13.000000
50%         29.000000
75%         97.000000
max      64031.000000

In [5]:
top_quantil_top_75 = top_quantil[top_quantil['total_comments'] < 97]
top_quantil_top_75.describe()

       total_comments
count   227963.000000
mean        27.313871
std         21.529975
min          8.000000
25%         11.000000
50%         19.000000
75%         36.000000
max         96.000000

In [6]:
fin = top_quantil_top_75[top_quantil_top_75['total_comments'] >= 19]

In [7]:
fin['total_comments'].sum()

4883618.0

In [8]:
fin.count()

total_comments    114253
dtype: int64

In [9]:
fin.to_csv('/Volumes/Samsung_T5/Documents/Uni/text_mining/comment_selection/authors/authors.csv')